// $Id: superhero.less 58287 2016-04-11 08:19:16Z chibaguy $
@import "../../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "../../base_files/less/bootswatch_overrides.less";
// So far, just removes the CSS content theme-option-required warning.
@import "bootswatch.less";
// defines the theme's CSS values that are outside of variables.less
@import "../../base_files/less/tiki-variables";
// Values/definitions for Tiki variables (outside of Bootstrap variables) such as tiki-selectors.less.
@import "../../base_files/less/tiki-selectors.less";
// Tiki non-Bootstrap CSS selectors
@import "../../base_files/less/tablesorter-custom.less";
@import "variables.less";

// the Bootstrap variables.less file with theme-specific values replacing the defaults

.cssmenu_horiz a { font-size: 12px; }

.nav.cssmenu_horiz > li > a {
	padding-top: 11px;
	padding-bottom: 11px;
}