// $Id: readable.less 58286 2016-04-11 08:09:53Z chibaguy $
@import "../../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "../../base_files/less/bootswatch_overrides.less";
// So far, just removes the CSS content theme-option-required warning.
@import "bootswatch.less";
// defines the theme's CSS values that are outside of variables.less
@import "../../base_files/less/tiki-variables";
// Values/definitions for Tiki variables (outside of Bootstrap variables) such as tiki-selectors.less.
@import "../../base_files/less/tiki-selectors.less";
// Tiki non-Bootstrap CSS selectors related to color
@import "../../base_files/less/tablesorter-custom.less";
@import "variables.less";

// the Bootstrap variables.less file with theme-specific values replacing the defaults

.topbar,
.cssmenu_horiz {
	font-family: Raleway, sans-serif;
}

.topbar .cssmenu_horiz > li > a {
	margin: 12px 6px;
}

.topbar .nav > li > a { border: 1px solid transparent; }

.topbar .nav > li > a:hover { border: 1px solid #ddd; }
