{* Update Completed 12/12/14 *}
<table cellpadding="10" cellspacing="0" border="0" width="100%">
	<tr>
		<td><img src="{$email_pics}/email_oi_logo.jpg" width="216" height="100" alt="Logo"></td>
	</tr>
</table>