/* CSS Document */
@charset "utf-8";
@media screen {
	html, body {
		margin: 0px;
		padding: 0px;
		height: 100%;
		overflow: hidden;
	}
	.filters_wrapper {
		line-height: 12px;
		font-size: 12px;
	}
	.filters_wrapper span {
		font-weight: bold;
		padding-right: 5px;
	}
	.filters_wrapper label {
		padding-right: 3px;
	}
	.dhx_cal_event.event_service-ct div, .dhx_cal_event_line.event_service-ct {
		background-color: orange !important;
		color: #090 !important;
	}
	.dhx_cal_event_clear.event_service-ct {
		color: #090 !important;
	}
	.dhx_cal_event.event_service-mr div, .dhx_cal_event_line.event_service-mr {
		background-color: orange !important;
		color: blue !important;
	}
	.dhx_cal_event_clear.event_service-mr {
		color: blue !important;
	}
	.dhx_cal_event.event_service-misc div, .dhx_cal_event_line.event_service-misc {
		background-color: #999 !important;
		color: black !important;
	}
	.dhx_cal_event_clear.event_service-misc {
		color: black !important;
	}
	.dhx_cal_event.event_pm-ct div, .dhx_cal_event_line.event_pm-ct {
		background-color: #009933 !important;
		color: #8b0000 !important;
	}
	 .dhx_cal_event_clear.event_pm-ct {
	 color: #009933 !important;
	}
	.dhx_cal_event.event_pm-mr div, .dhx_cal_event_line.event_pm-mr {
		background-color: #009933 !important;
		color: #8b0000 !important;
	}
	.dhx_cal_event_clear.event_pm-mr {
		color: #009933 !important;
	}
	.dhx_cal_event.event_vacation div, .dhx_cal_event_line.event_vacation {
		background-color: #FF9900 !important;
		color: #000000 !important;
	}
	.dhx_cal_event_clear.event_vacation {
		color: #FF9900 !important;
	}
	.dhx_cal_event.event_meeting div, .dhx_cal_event_line.event_meeting {
		background-color: #996600 !important;
		color: #FFFFFF !important;
	}
	.dhx_cal_event_clear.event_meeting {
		color: #996600 !important;
	}
	.dhx_cal_event.event_sick_day div, .dhx_cal_event_line.event_sick_day {
		background-color: #9900FF;
		color: #FFFFFF !important;
	}
	.dhx_cal_event_clear.event_sick_day {
		color: #9900FF !important;
	}
}