@charset "utf-8";
.myform {
	width: 90%;
	padding: 14px;
	margin: 0 auto
}
.srTable {
	width: 100%
}
#stylized {
	background-color: #F1F0FB;
	border: 2px solid #e7e8e9
}
#srHeaderDiv {
	text-align: center
}
#srInfoTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srInfoTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 120px
}
#srInfoTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #6d6e71
}
#srSystemNotesTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srSystemNotesTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srSystemNotesTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srSystemNotesTable input {
	width: 100%
}
#srSystemNotesTable textarea {
	width: 100%;
	height: 100px
}
#srPrevSystemNotesTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srPrevSystemNotesTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srPrevSystemNotesTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srPrevSystemNotesTable input {
	width: 100%
}
#srPrevSystemNotesTable textarea {
	width: 100%;
	height: 100px
}
#srDateTimeTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srDateTimeTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 20%
}
#srDateTimeTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px
}
#srDateTimeTable input, #srDateTimeTable select {
	width: 100%
}
#srDataTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srDataTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 20%
}
#srDataTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	width: 30%
}
#srDataTable input, #srDataTable select {
	width: 100%
}
#srComplaintTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srComplaintTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srComplaintTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srComplaintTable input {
	width: 100%
}
#srComplaintTable textarea {
	width: 100%;
	height: 100px
}
#srActionsTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srActionsTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srActionsTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srActionsTable input {
	width: 100%
}
#srActionsTable textarea {
	width: 100%;
	height: 15px
}
#srFooterDiv {
	overflow: hidden;
	padding-top: 20px
}
/*#srFooterDiv #srFooterButtons {
	margin: 0 auto;
	width: 250px
}*/
#srFooterDiv .srBottomBtn {
	/*color: #f79548;
	font-size: 1.5em;
	background-color: #e7e8e9;
	padding-right: 4px;
	padding-left: 4px;
	height: 30px;
	padding-top: 10px;
	width: 250px;
	text-align: center;
	margin-left: auto;*/
	margin-right: 20px;
	float: left
}
#srFooterDiv .srBottomBtnSpacer {
	height: 5px;
	width: 20px;
	float: left
}
/*#srFooterDiv .srBottomBtn a {
	color: #f79548
}*/
