@charset "utf-8";
.myform {
	width: 90%;
	padding: 14px;
	margin: 0 auto
}
.srTable {
	width: 100%
}
#stylized {
	background-color: #F1F0FB;
	border: 2px solid #e7e8e9
}
#srHeaderDiv {
	text-align: center
}
#srInfoTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srInfoTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 120px
}
#srInfoTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #6d6e71
}
#srDataTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srDataTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 20%
}
#srDataTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px
}
#srDataTable input, #srDataTable select {
	width: 100%
}
#srComplaintTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srComplaintTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srComplaintTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srComplaintTable input {
	width: 100%
}
#srComplaintTable textarea {
	width: 100%;
	height: 100px
}
#srServiceTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srServiceTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srServiceTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srServiceTable input {
	width: 100%
}
#srServiceTable textarea {
	width: 100%;
	height: 200px
}
#srNotesTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srNotesTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srNotesTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srNotesTable input {
	width: 100%
}
#srNotesTable textarea {
	width: 100%;
	height: 100px
}

#srFilesTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srFilesTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srFilesTable .rowData {
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srFilesTable a {
	color: #f79548;	
}


#srHoursTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srHoursTable .rowLabel {
	text-align: center
}
#srHoursTable .rowData {
	text-indent: 5px;
	padding: 5px 10px 5px 5px
}
#srHoursTable input {
	width: 100%
}
#srPartsTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srPartsTable .rowLabel {
	text-align: center
}
#srPartsTable .rowData {
	text-indent: 5px;
	padding: 5px 10px 5px 5px
}
#srPartsTable input {
	width: 100%
}
#srShipTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srShipTable .rowLabel {
	text-align: center
}
#srShipTable .rowData {
	text-indent: 5px;
	padding: 5px 10px 5px 5px
}
#srShipTable input {
	width: 100%
}
#srFooterDiv {
	overflow: hidden;
	padding-top: 20px
}
#srFooterDiv .srBottomBtn {
	font-size: 18px;
	margin-right: 15px;
	float: left;
}

