@charset "utf-8";
.myform {
	width: 90%;
	padding: 14px;
	margin: 0 auto
}
.srTable {
	width: 100%
}
.checkbox-grid li {
	float: left;
	list-style-type: none;
	padding: 0px;
	width: 25%;
	display: block;
}
.price {
	font-weight: bold; 
	color: #000000; !important
}
.boldTxt {
	font-weight: bold;
	color: #000000;
!important}




#stylized {
	background-color: #F1F0FB;
	border: 2px solid #e7e8e9
}
#srHeaderDiv {
	text-align: center
}
#srInfoTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srInfoTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 120px
}
#srInfoTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #6d6e71
}
#srDataTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srDataTable .rowLabelBig {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	height: 20%;
	padding-top: 5px;
}
#srDataTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 20%
}
#srDataTable .rowLabelWide {
	padding-top: 5px;
	text-align: right;
	width: 20%
}

#srDataTable .rowLink {
	padding-top: 5px;
	width: 20%;
	text-align: center;
}
#srDataTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	width: 30%
}
#srDataTable .rowDataWide {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px
}

#srDataTable input, #srDataTable select {
	width: 100%
}
#srPhoneFixTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srPhoneFixTable .rowLabel {
	padding-top: 5px;
	text-align: right;
	width: 20%
}
#srPhoneFixTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	width: 30%;
	color: #f79548;
}
#srPhoneFixTable input, #srPhoneFixTable select {
	width: 100%
}
#srSystemNotesTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srSystemNotesTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srSystemNotesTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srSystemNotesTable input {
	width: 100%
}
#srSystemNotesTable textarea {
	width: 100%;
	height: 100px
}
#srComplaintTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srComplaintTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srComplaintTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srComplaintTable input {
	width: 100%
}
#srComplaintTable textarea {
	width: 100%;
	height: 100px
}
#srServiceTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srServiceTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srServiceTable .rowLabelBig {
	padding-top: 5px;
	width: 20%;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

#srServiceTable .rowLabelNote {
	padding-top: 5px;
	width: 20%;
	text-align: center;
	font-size: .9em;
	font-style: italic;
}
#srServiceTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srServiceTable .rowDataNote {
	text-align: center;
}

#srServiceTable input {
	width: 100%
}
#srServiceTable textarea {
	width: 100%;
	height: 200px
}
#srProbFoundTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srProbFoundTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srProbFoundTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srProbFoundTable input {
	width: 100%
}
#srProbFoundTable textarea {
	width: 100%;
	height: 100px
}
#srNotesTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srNotesTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srNotesTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}


#srFilesTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srFilesTable .rowLabel {
	padding-top: 5px;
	width: 20%;
	text-align: center
}
#srFilesTable .rowData {
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px
}
#srFilesTable a {
	color: #f79548;	
}


#srNotesTable input {
	width: 100%
}
#srNotesTable textarea {
	width: 100%;
	height: 100px
}
#srHoursTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srHoursTable .rowLabel {
	text-align: center
}
#srHoursTable .rowData {
	text-indent: 5px;
	padding: 5px 10px 5px 5px
}
#srHoursTable input {
	width: 100%
}
#srPartsTable {
	width: 100%;
	border: 2px solid #6d6e71;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#srPartsTable .rowLabel {
	text-align: center
}
#srPartsTable .rowData {
	text-indent: 5px;
	padding: 5px 10px 5px 5px
}
#srPartsTable input {
	width: 100%
}
#srFooterDiv {
	overflow: hidden;
	padding-top: 20px
}
#srFooterDiv .srBottomBtn {
	color: #f79548;
	font-size: 1em;
	margin-right: 15px;
	float: left;
	height: 30px;
	margin-bottom: 15px;
}
#srFooterDiv .srBottomBtn a {
	color: #f79548
}
