@media screen and (min-width:980px) {
	#OIReportContent {
		width: 980px;
		margin: 20px auto 40px
	}
	.line {
		background-image: url(/resources/images/common/heading-underline.png);
		background-repeat: no-repeat;
		height: 10px;
		margin: 10px auto;
		background-position: right
	}
	#ReportFrame {
		margin-bottom: 25px;
		margin-top: 25px;
		width: 100%
	}
	#ReportFrameTitle {
		width: 100%;
		text-align: center;
		font-size: 24px;
		color: #6d6e71;
		padding-bottom: 10px
	}
	#newReport {
		text-align: center;
		font-size: 18px;
		padding-top: 12px;
		margin-top: 25px;
		margin-right: auto;
		margin-bottom: 25px;
		margin-left: auto;
	}
	/*#newReport a {
		color: #f79548
	}*/
	#systemInfoLeft {
		display: block;
		float: left;
		width: 50%
	}
	#systemInfoRight {
		display: block;
		width: 50%;
		float: right
	}
	#map {
		clear: both;
		width: 100%
	}
	#showalldiv #showalldivtxt {
		font-size: 14px;
		margin-left: 5px
	}
	#showalldiv {
		margin-bottom: 20px;
		padding-left: 5px
	}
	#statistics {
		float: left
	}
	#actions {
		float: left;
		margin-left: 15px
	}
	#logins {
		clear: both
	}
	#styledForm {
		background-color: #E3E5E5;
		border: thin solid #BABCBD;
		-moz-border-radius: 15px;
		border-radius: 15px;
		padding: 10px
	}
	#styledForm input {
		border: thin solid #2C3594;
		width: 100%
	}
	#styledForm .input_no_box {
		outline: none;
		border: none; !important;
		border-bottom: 1px solid #000000; !important;
		background-color: transparent; !important;
	}
	#styledForm .button {
		margin-right: auto;
		margin-left: auto;
		-moz-border-radius: 15px;
		border-radius: 15px
	}
	#styledForm select {
		border: thin solid #2C3594;
		width: 100%
	}
	#styledForm textarea {
		width: 100%;
		border: thin solid #2C3594
	}
	#styledForm label {
		font-size: 16px
	}
	#styledForm #uploadDocs {
		margin-right: auto;
		margin-left: auto
	}
	#afterReportContainer {
		width: 70%;
		margin-right: auto;
		margin-left: auto
	}
	#afterReportContainer #afterReportHeader {
		text-align: center;
		font-size: 2em
	}
	#afterReportContainer #afterReportButtons {
		text-align: center;
		margin-top: 15px
	}
	#afterReportContainer .afterReportButton {
		height: 50px;
		width: 150px;
		margin: 10px 5px;
		font-size: 1.5em;
		border: thin solid #f79448;
		text-align: center;
		padding: 2px
	}
	#afterReportContainer #afterReportUpdate {
		margin-top: 25px;
		margin-right: 25px;
		margin-left: 25px
	}
	#afterReportContainer #afterReportUpdate #afterReportUpdateHeader {
		font-size: 1.5em;
		text-align: center
	}
	#afterReportContainer #afterReportUpdate #afterReportUpdateForm textarea {
		width: 100%;
		height: 100px
	}
	#afterReportContainer #afterReportUpdate #afterReportUpdateForm input {
		width: 100px;
		height: 50px;
		margin-top: 15px
	}
}
