@media screen and (min-width:1900px) {
#OIReportContentLeft{
	width:50%;
	float:left;	
	margin-right:-490px;
}

#OIReportContentLeft #advert {
	margin-top: 275px;
	display: inline-block;
	margin-left: 75px;
}

#OIReportContent {
	width: 960px;
	margin: 20px auto 40px
}

#OIReportContentIndex {
	width: 980px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 40px;
}

.orange_txt {
	color: #f79447
}
.blue_txt {
	color: #1b2673
}
.dark_gry_txt {
	color: #6d6e71
}
.lt_grey_txt {
	color: #babcbd
}
.line {
	background-image: url(/resources/images/common/heading-underline.png);
	background-repeat: no-repeat;
	height: 10px;
	margin: 10px auto;
	background-position: right
}
#custdb #dbHeader {
	text-align: center;
	font-size: 36px;
	margin-bottom: 25px;
	font-weight: bolder;
	margin-top: 25px;
}
#custdb #dbContent .help {
	font-size: 9px
}
#custdb #dbContent .site {
	border: solid #1c2674;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 15px
}
#custdb #dbContent .site .sitefooter {
	clear: both
}
#custdb #dbContent .site .sys {
	width: 65%;
	float: left
}
#custdb #dbContent .site .sys .sysTitle {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 700
}
#custdb #dbContent .site .sys .sysContent {
	font-size: 16px
}
#custdb #dbContent .site .sys .sysContent .sysItem {
	margin: 5px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemId {
	margin-left: 10px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemName {
	padding-bottom: 25px;
	margin-left: 10px;
	font-size: 1.5em;
	text-align: center;
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysLeft {
	width: 25%;
	float: left
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemHealth {
	text-align: center
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemHealth .sysItemHealthFlag {
	background-repeat: no-repeat
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemWarr {
	text-align: center;
	margin-top: 15px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemEng {
	text-align: center;
	margin-top: 15px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemCon {
	text-align: center;
	margin-top: 15px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemDocs {
	text-align: center;
	margin-top: 15px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemDocs .sysItemDocument {
	font-size: 12px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemCryo {
	text-align: center;
	margin-top: 15px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysRight {
	width: 70%;
	float: left;
	clear: right
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemIndex {
	text-align: center;
	padding: 5px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysRight .sysItemIndex .sysItemIndexChart {
	border: thin solid #1c2674;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemIndex #chart_div {
	width: 100%;
	-moz-border-radius: 15px;
	border-radius: 15px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemStat {
	text-align: center;
	padding: 5px
}
#custdb #dbContent .site .sys .sysContent .sysItem .sysItemStat .sysItemStatContent {
	border: thin solid #1c2674;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px
}
#custdb #dbContent .site .ag {
	width: 35%;
	float: right
}
#custdb #dbContent .site .ag .agTitle {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 700
}
#custdb #dbContent .site .ag .agContent {
	border: thin solid #1C2674;
	-moz-border-radius: 15px;
	border-radius: 15px
}
#custdb #dbContent .site .ag .agContent .agItem {
	margin: 5px
}
#custdb #dbContent .site .ag .agContent .agItem .agItemDate {
	float: left;
	width: 100px
}
#custdb #dbContent .site .ag .agContent .agItem .agItemData {
	padding-left: 5px
}
#custdb #dbContent .site .ag .agFooter {
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px
}
}

