@charset "utf-8";
		.pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer { float: left; margin: 0.25em; }
		.pickList_controlsContainer {
	text-align: center;
	margin-top: 20px;
}
		.pickList_controlsContainer button {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}
		.pickList_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 400px;
	height: 400px;
	border: 1px inset;
	overflow-y: auto;
	cursor: default;
}
		.pickList_selectedListItem { background-color: #A3C8F5; }
		.pickList_listLabel { font-size: 0.9em; font-weight: bold; text-align: center; }
		.pickList_clear { clear: both; }
}
