/* CSS Document */
.sect_head {
	color: #1B2673;
}
.red_bold {
	color: #F00;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
}
.red {
	color: #F00;
}
.systemInfo {
	color: #1B2673;
}
.face_bad {
	color: #F00;
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-align: center;
}
.face_good {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-align: center;
}
.credit_hold_bold {
	color: #FF0000;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
}
.pre_paid_bold {
	color: #FF8040;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
}
.future_bold {
	color: #7F00FF;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
}
.archived_bold {
	color: #2ABFAA;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
}
.government_bold {
	color: #008000;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
}
.future {
	color: #7F00FF;
}
.pre_paid {
	color: #FF8040;
}
.credit_hold {
	color: #FF0000;
}
.archived {
	color: #2ABFAA;
}
.deleted {
	color: #0000cc;
}
.government {
	color: #008000;
}
.late {
	color: #ff3fdd;
}
.overdue {
	color: #7b005b;
}
.allTableCenterCol {
	text-align:center;	
}
.small_link {
	font-size: x-small;
		
}
.smaller {
	font-size: x-small;
}

