@charset "utf-8";
#systemData .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	text-align: right;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	padding-top: 5px;
	width: 120px;
	height: 15px
}
#systemData .rowData {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-style: none none solid;
	border-color: #CCC;
	text-indent: 5px;
	padding-top: 5px;
	height: 15px
}
#systemData {
	border-style: none;
	width: 95%
}
#systemDataNotes .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	text-align: right;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	padding-top: 5px;
	width: 120px;
	height: 15px
}
#systemDataNotes .rowData {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-style: none none solid;
	border-color: #CCC;
	text-indent: 5px;
	padding-top: 5px;
	height: 15px
}
#systemDataNotes {
	border-style: none;
	width: 97%
}
#customerLogins .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	text-align: right;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	padding-top: 5px;
	width: 120px;
	height: 15px
}
#customerLogins .rowData {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-style: none none solid;
	border-color: #CCC;
	text-indent: 5px;
	padding-top: 5px;
	height: 15px
}
#customerLogins {
	border-style: none;
	width: 97%
}
#srInfoTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	padding-top: 5px;
	text-align: right;
	width: 120px
}
#srInfoTable .rowData {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-style: none none solid;
	border-color: #CCC;
	text-indent: 5px;
	padding-top: 5px
}
#srInfoTable {
	width: 100%;
	border: thin solid #CCC
}
#srDataTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none
}
#srDataTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	padding-top: 5px;
	text-align: right;
	width: 120px
}
#srDataTable {
	width: 100%;
	border: thin solid #CCC
}
#srContractTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	padding-top: 5px;
	text-align: right;
	width: 120px
}
#srContractTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none
}
#srContractTable {
	width: 100%
}
#srComplaintTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	text-align: center;
	padding-top: 5px;
	font-size: 16px
}
#srComplaintTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none;
	height: 100px
}
#srComplaintTable {
	width: 100%
}
#srServiceTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	text-align: center;
	padding-top: 5px;
	font-size: 16px
}
#srServiceTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none;
	height: 200px
}
#srServiceTable {
	width: 100%
}
#srNotesTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	text-align: center;
	padding-top: 5px;
	font-size: 16px
}
#srNotesTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none;
	height: 100px
}
#srNotesTable {
	width: 100%
}
#srPartsTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	text-align: center;
	padding-top: 5px;
	font-size: 16px
}
#srPartsTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none;
	height: 100px
}
#srPartsTable {
	width: 100%
}
#srHoursTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	text-align: center;
	padding-top: 5px;
	font-size: 16px
}
#srHoursTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none;
	height: 100px
}
#srHoursTable {
	width: 100%
}
#srSignatureTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	text-align: center;
	padding-top: 5px;
	font-size: 16px
}
#srSignatureTable .rowData {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none;
	height: 15px;
	text-align: left
}
#nosign {
	width: 15px
}
#srSignatureTable .rowData1 {
	text-indent: 5px;
	padding-top: 5px;
	border-style: none;
	height: 300px
}
#srSignatureTable {
	width: 100%
}
#srFinishTable .rowLabel {
	color: #467CC1;
	border-style: none none solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-color: #FFF;
	text-align: center;
	padding-top: 5px;
	font-size: 16px
}
#srFinishTable .rowData {
	text-indent: 5px;
	padding-top: 20px;
	border-style: none;
	height: 35px;
	text-align: center
}
#srFinishTable {
	width: 100%
}
.pwdInput {
	width: 200px;
	height: 30px;
	margin-top: 2px
}
