@charset "utf-8";
#viewSystemTopBtns1 {
	width: 100%;
	float: left;

}

#viewSystemTopBtns2 {
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

#viewSystemTopBtns1 .viewSystemBtn, #viewSystemTopBtns2 .viewSystemBtn {
	margin-right: 15px;
	float: left;
}

.face_bad {
	color: red;
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-align: center
}
