{# index #}
{# Created by Justin on 6/1/2017 #}
{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/fa/FAGroupsTasks/css/show.css">
{% endblock %}

{% block body %}

<div id="content">
	<span id="backHeader"><a href="./"><< Return <<</a></span>
    <div class="csv">
        <a href="javascript:void(0)" onclick="csvAttach()">Download CSV</a>
    </div>
	<span id="rightHeader">Field Aware Attachments</span>
	<hr>
	<br>
	{% for attach in attachData %}
		<div class="grptsks">
			<span class="aname">{{ attach.aid }}&emsp;{{ attach.aname }}</span>
		</div>
	{% endfor %}
</div>
{% endblock %}


