{# base #}
{# Created by Justin on 6/19/2017 #}

<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<meta charset="utf-8">
		<title>Field Aware Groups and Tasks</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/javascript" src="/fa/FAGroupsTasks/vendor/components/jquery/jquery.min.js"></script>
		<script type="application/javascript" src="/fa/FAGroupsTasks/js/app.js"></script>
	{% endblock %}
</head>
<body>
	{% block body %}
		BODY
	{% endblock %}
</body>
</html>