{# index #}
{# Created by Justin on 6/1/2017 #}
{% extends 'base.html.twig' %}

{% block head %}
	{{  parent() }}
	<link rel="stylesheet" href="/fa/FAGroupsTasks/css/show.css">
{% endblock %}
{% block body %}
<div id="content">
	<span id="backHeader"><a href="./"><< Return <<</a></span>
	<span id="rightHeader">Field Aware Groups & Tasks</span>
    {% include "legend.html.twig" with {'legend': 'full'} %}
	<hr>
	<br>
	{% for groups in rightData %}
	<div class="grptsks">
		<span class="gname">{{ groups.gid }} {{ groups.gname }}</span>
		<ol class="tasks">
			{% for tasks in groups.tasks %}
			<li>
				<span class="tname">{{ tasks.tid }} {{ tasks.tname }}</span>
				{% if tasks.attach|length > 0 %}
					{% for attach in tasks.attach %}
						<ul class="tattachul">
							<li><span class="tattach">Attach: {{ attach.aid }} {{ attach.fname }}</span></li>
						</ul>
					{% endfor %}
				{% endif %}
			</li>
			{% endfor %}
		</ol>

	</div>
	{% endfor %}
</div>
{% endblock %}


