{# index #}
{# Created by Justin on 6/1/2017 #}
{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/fa/FAGroupsTasks/css/show.css">
{% endblock %}

{% block body %}

<div id="content">
	<span id="backHeader"><a href="./"><< Return <<</a></span>
    <div class="csv">
        <a href="javascript:void(0)" onclick="csvGroups()">Download CSV</a>
    </div>
	<span id="rightHeader">Field Aware Groups</span>
    {% include "legend.html.twig" with {'legend': 'group'} %}
	<hr>
	<br>
	{% for groups in groupsData %}
		<div class="grptsks">
			<span class="gname">{{ groups.gid }}&emsp;{{ groups.gname }}</span>
		</div>
	{% endfor %}
</div>
{% endblock %}


