{# index #}
{# Created by Justin on 6/1/2017 #}
{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/fa/FAGroupsTasks/css/show.css">
{% endblock %}

{% block body %}

<div id="content">
	<span id="backHeader"><a href="./"><< Return <<</a></span>
    <div class="csv">
        <a href="javascript:void(0)" onclick="csvGroupsTasks()">Download CSV</a>
    </div>
	<span id="rightHeader">Field Aware Groups/Tasks Relation</span>
	<hr>
	<br>
	<span class="gname">group_id,&emsp;group_uuid,&emsp;task_id,&emsp;task_uuid,&emsp;seq</span>
	{% for gt in groupsTasksData %}
		<div class="grptsks">
			<span class="gname">{{ gt.group_id }},&emsp;{{ gt.group_uuid }},&emsp;{{ gt.task_id }},&emsp;{{ gt.task_uuid }},&emsp;{{ gt.seq }}</span>
		</div>
	{% endfor %}
</div>
{% endblock %}


