{# index #}
{# Created by Justin on 6/1/2017 #}
{% extends 'base.html.twig' %}

{%  block head %}
	{{  parent() }}
	<link rel="stylesheet" href="/fa/FAGroupsTasks/css/style.css">
{% endblock %}
{% block body %}
<div id="content">
	<div id="left">
		<div id="left-top">
			<div id="errorOuter">
				<div id="errorContainer">
					<div id="error">
						<span id="errorTxt"></span>
					</div>
				</div>
			</div>
			<div class="formDiv">
				<form id="newGroup" method="post" action="./">
					<div class="group_input_fields_wrap">
						<ul class="formList">
							<li class="lic">
								<label class="lbl" for="groupId">Group ID</label>
								<input id="groupId" class="inputShort" name="groupId" type="text" />
							</li>
							<li class="lic">
								<label class="lbl" for="groupName">Group Name</label>
								<input class="inputLong" id="groupName" name="groupName" />
							</li>
							<li class="lic">
								<br>
								Click a task from the list below to add to this group.
								<label><button class="group_add_field_button">Add Task</button></label>
								<br>
							</li>
						</ul>
					</div>
					<input type="hidden" value='0' name="edit_group" id="edit_group" />
					<button type="button" id="groupBtn" onclick="groupSubmit()">Add New Group</button>
					<button type="button" id="groupClearBtn" onclick="groupClear()">Clear Fields</button>
				</form>
			</div>

			<div class="formDiv">
				<form id="newTask" method="post" action="./">
					<div class="task_input_fields_wrap">
						<ul class="formList">
							<li class="lic">
								<label class="lbl" for="taskId">Task ID</label>
								<input class="inputShort" id="taskId" name="taskId" type="text" />
							</li>
							<li class="lic">
								<label class="lbl" for="taskName">Task Name</label>
								<input class="inputLong" id="taskName" name="taskName" />
							</li>
							<li class="lic">
								<br>
								Click an attachment from the list below to add to this task.
								<label><button class="task_add_field_button">Add Attachment</button></label>
								<br>
							</li>
						</ul>
					</div>
					<input type="hidden" value='0' name="edit_task" id="edit_task" />
					<button type="button" id="taskBtn" onclick="taskSubmit()">Add New Task</button>
					<button type="button" id="taskClearBtn" onclick="taskClear()">Clear Fields</button>
				</form>
			</div>

			<div class="formDiv">
				<form id="newAttach" method="post" action="./">
					<ul class="formList">
						<li class="lic">
							<label class="lbl" for="attachId">Attach ID</label>
							<input class="inputShort" id="attachId" name="attachId" />
						</li>
						<li class="lic">
							<label class="lbl" for="attachName">Attach Name</label>
							<input class="inputLong" id="attachName" name="attachName" />
						</li>
					</ul>
					<button type="button" id="attachBtn" onclick="attachSubmit()">Add New Attachment</button>
					<button type="button" id="attachClearBtn" onclick="attachClear()">Clear Fields</button>
				</form>
			</div>

			<div class="formDiv">
				<form id="showForm" method="post" action="./">
					<br>
					<br>
					<button type="button" id="showBtn" onclick="showFullSubmit()">Show full list</button>
					<input type="checkbox" name="full" id="full" value="TRUE" />
					<button type="button" id="showBtn" onclick="showGroupsSubmit()">Show groups list</button>
					<input type="checkbox" name="groups" id="groups" value="TRUE" />
					<button type="button" id="showBtn" onclick="showTasksSubmit()">Show tasks list</button>
					<input type="checkbox" name="tasks" id="tasks" value="TRUE" />
					<button type="button" id="showBtn" onclick="showAttachSubmit()">Show attach list</button>
					<input type="checkbox" name="attachs" id="attachs" value="TRUE" />
					<button type="button" id="showBtn" onclick="showGroupsTasksSubmit()">Show groups/tasks relation</button>
					<input type="checkbox" name="groupstasks" id="groupstasks" value="TRUE" />
					<button type="button" id="showBtn" onclick="showTasksAttachSubmit()">Show tasks/attach relation</button>
					<input type="checkbox" name="tasksattach" id="tasksattach" value="TRUE" />
					<br>
					<br>
				</form>
			</div>
			<div class="formDiv">
				{% include "legend.html.twig" with {'legend': 'full'} %}
			</div>
            <div class="formDiv hidden">
                <form id="delForm" method="post" action="./">
                    <label for="delGroup">Group Delete:</label><input type="text" name="delGroup" id="delGroup" value="" />
                    <label for="delTask">Task Delete:</label><input type="text" name="delTask" id="delTask" value="" />
                    <label for="delAttach">Attach Delete:</label><input type="text" name="delAttach" id="delAttach" value="" />
                </form>
            </div>

		</div>
		<div id="left-bot-left">
			<table border="1">
				<thead>
				<tr>
					<td class="smCol">ID</td>
					<td>GroupID</td>
					<td>Group</td>
					<td></td>
                    {% if not prod %}<td></td>{% endif %}
				</tr>
				</thead>
				<tbody>
                {% for group in groups %}
					<tr>
						<td class="group_id smCol">{{ group.id }}</td>
						<td class="group_gid">{{ group.gid }}</td>
						<td class="group_name">{{ group.name }}</td>
						<td>&nbsp;<a class="edit" href="javascript:void(0)" onclick="editGroup('{{ group.id }}'); return false;">Edit</a>&nbsp;</td>
						{% if not prod %}
							<td>&nbsp;<a class="delete prod" href="javascript:void(0)" onclick="delGroup('{{ group.id }}'); return false;">Delete</a>&nbsp;</td>
						{% endif %}
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
		<div id="left-bot-mid">
			<table border="1">
				<thead>
				<tr>
					<td class="smCol">ID</td>
					<td>TaskID</td>
					<td>Task</td>
					<td></td>
                    {% if not prod %}<td></td>{% endif %}
				</tr>
				</thead>
				<tbody>
                {% for task in tasks %}
					<tr>
						<td class="task_id smCol">{{ task.id }}</td>
						<td class="task_tid">{{ task.tid }}</td>
						<td class="task_name"><a href="javascript:void(0)" onclick="addTask('{{ task.tid }}'); return false;">{{ task.name }}</a></td>
						<td>&nbsp;<a class="edit" href="javascript:void(0)" onclick="editTask('{{ task.id }}'); return false;">Edit</a>&nbsp;</td>
						{% if not prod %}
							<td>&nbsp;<a class="delete prod" href="javascript:void(0)" onclick="delTask('{{ task.id }}'); return false;">Delete</a>&nbsp;</td>
						{% endif %}
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
		<div id="left-bot-right">
			<table border="1">
				<thead>
				<tr>
					<td class="smCol">ID</td>
					<td>AttachID</td>
					<td>Attach</td>
					<td></td>
					<td></td>
				</tr>
				</thead>
				<tbody>
                {% for attach in attachs %}
					<tr>
						<td class="attach_id smCol">{{ attach.id }}</td>
						<td class="attach_aid">{{ attach.aid }}</td>
						<td class="attach_name"><a href="javascript:void(0)" onclick="addAttach('{{ attach.aid }}'); return false;">{{ attach.name }}</a></td>
						<td>&nbsp;<a class="edit" href="javascript:void(0)" onclick="editAttach('{{ attach.id }}'); return false;">Edit</a>&nbsp;</td>
						<td>&nbsp;<a class="delete" href="javascript:void(0)" onclick="delAttach('{{ attach.id }}'); return false;">Delete</a>&nbsp;</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div id="right">
		<span id="rightHeader">Field Aware Groups & Tasks</span>
		<hr>
		<br>
		{% for groups in rightData %}
		<div class="grptsks">
			<span class="gname">{{ groups.gid }} {{ groups.gname }}</span>
			<ol class="tasks">
				{% for tasks in groups.tasks %}
				<li>
					<span class="tname">{{ tasks.tid }} {{ tasks.tname }}</span>
					{% if tasks.attach|length > 0 %}
						{% for attach in tasks.attach %}
							<ul class="tattachul">
								<li><span class="tattach">Attach: {{ attach.form_id }} {{ attach.fname }}</span></li>
							</ul>
						{% endfor %}
					{% endif %}
				</li>
				{% endfor %}
			</ol>

		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


