{# legend #}
{# Created by Justin on 7/13/2017 #}
{% block legend %}
    <table id="infoTable">
    {% if legend == 'full' or legend == 'group' %}
        <tr>
            <td>
                Group
                <ul class="ulnone">
                    <li>G</li>
                </ul>
            </td>
            <td>
                Modality/Type
                <ol class="olnone" start="0">
                    <li>ANY</li>
                    <li>CT</li>
                    <li>MRI</li>
                    <li>NM</li>
                    <li>PCT</li>
                    <li value="9">Misc</li>
                    <li value="99">Special</li>
                </ol>
            </td>
            <td>
                Grouping
                <ol class="olnone olpad" start="00">
                    <li>Common</li>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                    <li value="99">Less Common</li>
                </ol>
            </td>
            <td>
                Order
                <ol class="olnone">
                    <li>First</li>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                    <li value="9">Last</li>
                </ol>
            </td>
    {% endif %}
    {% if legend == 'full' %}
            <td>&emsp;&emsp;&emsp;</td>
    {% endif %}
    {% if legend == 'task' or legend == 'full' %}
            <td>
                Task
                <ul class="ulnone">
                    <li>T</li>
                </ul>
            </td>
            <td>
                Modality/Type
                <ol class="olnone" start="0">
                    <li>ANY</li>
                    <li>CT</li>
                    <li>MRI</li>
                    <li>NM</li>
                    <li>PCT</li>
                    <li value="8">Misc</li>
                    <li value="9">Form</li>
                    <li value="99">Special</li>
                </ol>
            </td>
            <td>
                Grouping
                <ol class="olnone olpad" start="00">
                    <li>Common</li>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                    <li value="99">Less Common</li>
                </ol>
            </td>
            <td>
                Order
                <ol class="olnone">
                    <li>First</li>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                    <li value="99">Last</li>
                </ol>
            </td>
        </tr>
    {% endif %}
    </table>
    <span> Examples:&emsp;Gx.yyz&emsp;&emsp;&emsp;Tx.yyz&emsp;&emsp; Note: Grouping number (yy) must be zero padded. e.g. 01, 06, 09, 10, 23</span>
{% endblock %}
