{# index #}
{# Created by Justin on 6/1/2017 #}
{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/fa/FAGroupsTasks/css/show.css">
{% endblock %}

{% block body %}

<div id="content">
	<span id="backHeader"><a href="./"><< Return <<</a></span>
	<div class="csv">
		<a href="javascript:void(0)" onclick="csvTasks()">Download CSV</a>
	</div>
	<span id="rightHeader">Field Aware Tasks</span>
    {% include "legend.html.twig" with {'legend': 'task'} %}
	<hr>
	<br>
	{% for tasks in tasksData %}
		<div class="grptsks">
			<span class="tname">{{ tasks.tid }}&emsp;{{ tasks.tname }}</span>
			{% if tasks.attach|length > 0 %}
				{% for attach in tasks.attach %}
					<ul class="tattachul">
						<li><span class="tattach">Attach: {{ attach.form_id }}&emsp;{{ attach.fname }}</span></li>
					</ul>
				{% endfor %}
			{% endif %}
		</div>
	{% endfor %}
</div>
{% endblock %}


