{# index #}
{# Created by Justin on 6/1/2017 #}
{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/fa/FAGroupsTasks/css/show.css">
{% endblock %}

{% block body %}

<div id="content">
	<span id="backHeader"><a href="./"><< Return <<</a></span>
    <div class="csv">
        <a href="javascript:void(0)" onclick="csvTasksAttach()">Download CSV</a>
    </div>
	<span id="rightHeader">Field Aware Tasks/Attach Relation</span>
	<hr>
	<br>
	<span class="gname">task_id,&emsp;task_uuid,&emsp;attach_id,&emsp;attach_uuid,&emsp;seq</span>
	{% for ta in tasksAttachData %}
		<div class="grptsks">
			<span class="gname">{{ ta.task_id }},&emsp;{{ ta.task_uuid }},&emsp;{{ ta.attach_id }},&emsp;{{ ta.attach_uuid }},&emsp;{{ ta.seq }}</span>
		</div>
	{% endfor %}
</div>
{% endblock %}


