// $Id: tiki-selectors.less 58391 2016-04-21 13:00:12Z chibaguy $
// This file is for additional LESS rules beyond what are in variables.less.
// Image path example:

// body {
//	background-image: url('@{imagePath}bg.jpg');
// }
//
// If Glyphicons should be rendered in a color other than the Bootstrap default or the theme default, uncomment and specify the color.
// .glyphicon {color: @gray-lighter;}

#col2 .panel,
#col3 .panel,
#bottom_modules .panel {
	//  background: url('@{imagePath}options/plum/siteheader.jpg') -1000px -200px no-repeat #1C0029;
	border: @side-column-border-size; // none;
}

#col2 .panel-heading,
#col3 .panel-heading,
#bottom_modules .panel-heading {
	background: @side-column-panel-heading-background; // #e1d518 url('@{imagePath}siteheader.png') no-repeat -1000px -200px;
	border-bottom: none;
}

// Header graphics
.header_outer {
	/* whole width div containing the header strip */
	background: @header_outer-background;
}

.header_container > .header {
	/* inner <header> element that gets .fixedwidth class applied */
	background: @header_container_header-background;
}

header.header .module.secondary_site_menu {
	background: none;
}

.middle_outer {
	background: @middle_outer_background;
}

.page-header {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.form-control,
select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
input#login-pass,
textarea,
.adminoptionbox option {
	background-color: @form-control-background; //#f8f9d4;
	border-color: @form-control-border-colors; // #F5FB86 #FBFBEE #FBFBEE #F5FB86;
}

.navbar-collapse {
	border: none;
}

#footer {
	background: @footer-background;
	color: @footer-color; // #696969;
	padding: 1px 0 2px 0;
	width: 100%;
}

.footer_liner {
	border-top: 1px solid @footer-border-color; //#ebdc14;
	border-bottom: 1px solid @footer-border-color; // #ebdc14;
}

//.footer_liner {
//	h3.panel-title {
//		color: #fff;
//		border-bottom: 1px dotted @footer-border-color;
//	}
//	//#ebdc14;
//	legend,
//	a,
//	a:visited {
//		color: @footer-link-color;
//	}
//	// #a9a9a9;
//}

// @navbar-default-link-background: #bfbd23;
.navbar-nav .open .dropdown-menu,
.navbar-nav .open .dropdown-menu li,
.navbar-default .navbar-nav > li > a {
	background: @navbar-default-navbar-nav-li-a-background; // #cdbe23;
}


.navbar-nav .open .dropdown-menu,
.navbar-nav .open .dropdown-menu li
// .navbar-default .navbar-nav > li > a
	{
	background: #aaa;
}

.topbar .navbar-default .navbar-nav > li a:hover,
.topbar .nav > li:hover,
.topbar .cssmenu_horiz li:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,

li.selected > a {
	background: @navbar-default-navbar-nav-li-a-hover-background;
	color: #fff;
}

.postbody-title {
	background: @postbody-title-background; //url('@{imagePath}siteheader.png') no-repeat -480px -200px;
}

.siteloginbar_popup .dropdown-menu > li > a {
	color: #fff;
}

// This comes last to enable site title color of theme options under FiveAlive-lite to have priority over the default set by FiveAlive.
header.header {
	.sitetitle,
	.sitesubtitle {
		color: @brand-primary;
		text-shadow: none;
	}
	//  a,
	//  a:visited {color: @brand-primary;
	//  }
}

h1 {
	font-size: 1.6em;
	background: @h1-background;
	padding-left: @h1-padding-left;
}

h2 {
	font-size: 1.6em;
	background: @h2-background;
	padding-left: @h2-padding-left;
}

h1.sitetitle {
	background: @sitetitle-background;
}

h2.sitesubtitle {
	background: @sitesubtitle-background;
}

.btn-default,
input[type="reset"],
input[type="submit"],
.button input {
	background: @button-background-gradient;
	text-transform: @button-text-transform;
	border-width: 2px;
}

.btn-default:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	background: @button-hover-background-gradient;
}

.btn.btn-link,
.btn-link:hover,
input[type="submit"].btn-link {
	background: none;
}

.topbar {
	margin-bottom: 20px;
	.panel-heading,
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		background: none;
		border-width: 0;
	}
	.navbar {
		border: none;
	}
	.navbar-nav > li > a {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
