#content, html, body {
	height: 98%;
}

#rightHeader {
	font-size: 2em;
	font-weight: bolder;
}

#backHeader {
	display: block;
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	color: red;
	background-color: lightblue;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.gname {
	font-size: 1.25em;
	font-weight: bolder;
}

.tasks {
	margin-top: 0;
}

.tattachul {
	list-style: disc;
	margin: 0;
}

.tattach {
	font-style: italic;
}
.tname {
	font-size: 1.25em;
	font-weight: bold;
}
.ulnone {
	list-style: none;
	padding-left: 0;
}

.olnone {
	/*list-style: none;*/
	padding-left: 15px;
}

.olpad {
	list-style-type: decimal-leading-zero;
}

#infoTable td {
	vertical-align: top;
	padding: 10px;
	text-align: left;
}

.csv {
	display: block;
	background-color: lightpink;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
	text-align: center;
}