#content, html, body {
	height: 98%;
}

#left {
	float: left;
	width: 70%;
	height: 100%;

}

#right {
	float: left;
	width: 30%;
	height: 100%;
	overflow: scroll;
}

#left-top {
	overflow: scroll;
	width: 100%;
	height: 70%;
}

#left-bot-left {
	float: left;
	width: 30%;
	height: 30%;
	overflow: scroll;
}

#left-bot-mid {
	float: left;
	width: 40%;
	height: 30%;
	overflow: scroll;
}

#left-bot-right {
	float: left;
	width: 30%;
	height: 30%;
	overflow: scroll;
}

.formDiv {
	width: 100%;
	background: #d0eeff;
	margin: 5px;
}

.formList {
	border: none;
	padding: 5px 15px 5px 5px;
	margin: 10px;
	list-style: none;
}

#left-top .lbl {
	width: 200px;
	margin-left: -200px;
	float: left;
}

.inputLong {
	width: 100%;
}

.inputShort {
	width: 25%;
}

#left-top .lic {
	padding-left: 200px;
}

.lblt {
	padding-left: 50px;
}

.inputShortTask, .inputShortAttach {
	width: 20%;
	margin-left: 15px;
	margin-bottom: 3px;
	margin-right: 10px;
}

#rightHeader {
	font-size: 2em;
	font-weight: bolder;
}

#right .gname {
	font-size: 1.25em;
	font-weight: bolder;
}

#right .tasks {
	margin-top: 0;
}

#right .tattachul {
	list-style: disc;
}

#right .tattach {
	font-style: italic;
}

#errorContainer {
	padding: 2px 100px 2px 100px;
	display: none;
}

#error {
	width: 100%;
	background-color: rgba(241, 0, 20, 0.78);
	padding: 5px;
}

.group_add_field_button, .task_add_field_button {
	display: none;
}

.edit {
	color: red;
}

.delete {
	color: purple;
}

#full, #tasks, #groups, #attachs, #tasksattach, #groupstasks {
	display: none;
}

.ulnone {
	list-style: none;
	padding-left: 0;
}

.olnone {
	/*list-style: none;*/
	padding-left: 15px;
}

.olpad {
	list-style-type: decimal-leading-zero;
}

#infoTable td {
	vertical-align: top;
	padding: 10px;
	text-align: left;
}

.smCol {
	display: none;
}

.hidden {
	display: none;
}