body { /* Add top padding for full-width layout */
	padding-top: 60px;
}
img.mimeicon {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #CCCCCC #AAAAAA #999999 #CCCCCC;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
}

.list-action a {
	text-decoration: none;
	color: #333;
	padding: 2px;
	cursor: pointer;
	font-size: 110%;
}

#admin-tools i {
	font-size: 300%;
	line-height: 110%;
	min-height: 100px;
}

#admin-tools a {
	margin-bottom: 10px;
}

ul.actions li a:hover > i {
	text-decoration: none;
}
ul.actions li a > i {
	color: #000;
	margin-right: 5px;
}
ul.actions li a.btn > i {
	font-size: 200%;
}

ul.tree, ul.tree ul {
	margin-left: 20px;
}

.wordbreak {
	word-break: break-word;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

div.mandatories {
	font-size: 90%;
	font-style: italic;
	color: #888;
}
div.mandatories span {
	font-weight: bold;
}

div.statusbar {
	font-size: 80%;
}
div.statusbar div.filename {
	display: inline-block;
}
div.statusbar div.filesize {
	display: inline-block;
	float: right;
}
div.statusbar div.progress {
	margin-bottom: 10px;
}
div.statusbar a.btn {
	margin-bottom: 10px;
}

.chosen-container-multi .chosen-choices {
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear 0.2s, box-shadow linear 0.2s;
	padding: 2px 6px;
	height: 20px;
}

div.help h1 {
	font-size: 24px;
}

div.help h2 {
	font-size: 18px;
}

div.help h3 {
	font-size: 16px;
}

#dropfolderChooser {
	width: 60%;
	left: 20%;
	margin-left: auto;
	margin-right: auto;
}

#timeline {
	font-size: 12px;
	line-height: 14px;
}
div.timeline-event-content {
	margin: 3px 5px;
}
div.timeline-frame {
	border-radius: 4px;
	border-color: #e3e3e3;
}

div.status_change_2 {
	background-color: #DAF6D5;
	border-color: #AAF897;
}

div.status_change_-1 {
	background-color: #F6D5D5;
	border-color: #F89797;
}

div.timeline-event-selected {
	background-color: #fff785;
	border-color: #ffc200;
	z-index: 999;
}

div.splash {
	display: none;
}

@media (max-width: 480px) { 
    .nav-tabs > li {
        float:none;
    }
    .nav-tabs > li > a {
        margin-right: 0;
    }

    .nav-tabs {
        border-bottom: 0;
    }

    .nav-tabs > li > a {
        border: 1px solid #ddd;
        -webkit-border-radius: 0;
            -moz-border-radius: 0;
                border-radius: 0;
    }

    .nav-tabs > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
    }

    .nav-tabs > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
    }

    .nav-tabs > li > a:hover {
  z-index: 2;
  border-color: #ddd;
    }
}
