// $Id: journal.less 58180 2016-04-05 15:45:56Z chibaguy $
@import "../../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "../../base_files/less/bootswatch_overrides.less";
// So far, just removes the CSS content theme-option-required warning.
@import "bootswatch.less";
// defines the theme's CSS values that are outside of variables.less
@import "variables.less";
// the Bootstrap variables.less file with theme-specific values replacing the defaults
@import "../../base_files/less/tiki-variables";
// Values/definitions for Tiki variables (outside of Bootstrap variables) such as tiki-selectors.less.
@import "../../base_files/less/tiki-selectors.less";
// Tiki non-Bootstrap CSS selectors related to color
@import "../../base_files/less/tablesorter-custom.less";

.cssmenu_vert,
.cssmenu_horiz {
	font-size: 18px;
	font-family: @font-family-sans-serif;
	font-weight: @headings-font-weight;
}

.cssmenu_vert li ul,
.cssmenu_horiz li ul { font-size: 15px; }