// $Id: tiki-mytiki.less 58183 2016-04-05 17:03:12Z patrick-proulx $

// /***** Messages *****/
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {
	//  border: 1px solid @panel-default-border;
	padding-left: 2px;
}

// .prio1 {
//   background: @panel-danger-heading-bg;
// }
//
// .prio2 {
//   background: @panel-warning-heading-bg;
// }
//
// .prio3 {
//   background: @panel-success-heading-bg;
// }
//
// .prio4 {
//   background: @panel-info-heading-bg;
// }
//
// .prio5 {
//   background: @panel-default-heading-bg;
// }
//
.messureadflag {
	//   background: @gray;
	padding-left: 5px;
}

.messureadhead {
	background: @gray-light;
	//   margin-top: 2px;
}

.messureadbody {
	//   margin-top: 5px;
	background: @gray-lighter;
}

.readlink {
	//   font-size: .95em;
	color: black;
}

// /* webmail & groupmail */
.webmail_item {
	//   font-size: .9em;
	border: 1px solid @panel-default-border;
	//   margin: 1px 0;
	padding: 0 1px;
}

.webmail_refresh_message {
	font-size: .8em;
}

// .webmail_list .odd {
//   background: @table-bg-accent;
// }

.webmail_list .button {
	//   background: @body-bg;
	//   border: 1px solid @panel-primary-border;
	padding: 0 2px;
}

// .webmail_list .webmail_read {
//   background: @state-info-bg;
// }

// .webmail_list .webmail_replied {
//   background: @state-success-bg;
// }

// .webmail_list .webmail_taken {
//   border: @state-warning-border;
//   color: @state-warning-text;
// }
//
// .webmail_message {
//   background: @body-bg;
// }

.webmail_mono {
	font-size: 1.1em;
	font-family: "Courier New", Courier, monospace;
}

.webmail_message_headers {
	//   background: @body-bg;
	width: 100%;
	padding: 0 5em .5em 0;
}

.webmail_message_headers th {
	font-style: italic;
	text-align: right;
	border: none;
	//   background: transparent;
	width: 6em;
}

// /* Friendship / Community  */
.user-info {
	font-size: .9em;
	padding-bottom: 2em;
}

.user-info p {
	margin-left: 50px;
}

.user-info .avatar {
	float: left;
	margin-right: .3em;
}

.user-info .gender,
.user-info .email,
.user-info .lastseen {
	display: block;
	clear: right;
}

.user-info .distance {
	margin-left: 1em;
}

.user-info .friendship {
	list-style: none;
	margin: 0 1em 0 50px;
	padding: 0;
}

.user-info .friendship li {
	float: left;
	margin-right: 1em;
}

.user-info .friendship li span {
	padding-right: .5em;
}

/* webmail & groupmail */

.box-webmail_inbox img.icon {
	vertical-align: middle;
}

img.pref_dependency {
	opacity: 0.25;
}

.pref_note {
	margin-left: 33px;
	font-size: 90%;
	font-style: italic;
}

.deleted {
	text-decoration: line-through;
}

// /***** User Tasks *****/
.taskcount {
	font-style: italic;
}