// $Id: tiki-bootstrap_overrides.less 58330 2016-04-14 11:17:20Z chibaguy $
// Override or add to specific default Bootstrap styles

// Obey the non-fixed width!
//body:not(.fixed_width) .page-header > div > div {
//  width: auto !important;
//}
body:not(.fixed_width) .container {
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
}

//body:not(.fixed_width) .row {
//  margin-left: 0;
//  margin-right: 0;
//}
//body:not(.fixed_width) .row-middle {
//  margin-top: 0 !important;
//}

.row.row-sidemargins-zero {
	margin-left: 0;
	margin-right: 0;
}

//legend + p,
//legend + .form-group,
//legend + input[type="hidden"] + .form-group,
legend + * {
	margin-top: 20px;
}

.tiki .page-header {
	border-bottom: none;
	margin: auto;
	padding-bottom: 0;
}

.topbar .navbar {
	margin-bottom: 0;
	border: none;
}

body.tiki.navbar-padding {
	padding-top: @navbar-fixed-height;
}

.panel-body ul.nav {
	overflow: visible;
}

.panel.panel-nocolor,
.panel-nocolor,
.panel-nocolor > .panel-heading,
.panel-nocolor > .panel-body,
.panel-nocolor > .panel-footer {
	border: none;
	background: transparent;
}

.tiki .popover {
	max-width: inherit;
}

.tiki .popover.tour-tour { max-width: 276px; }

.tiki .popover p:last-child {
	margin-bottom: 0;
}

.tiki .media-overflow-visible,
.tiki .media-overflow-visible .media-body {
	overflow: visible;
}

// Counteract the negative side margins that form.form-horizontal imposes on a "not horizontal" .form-group when there is a mix of form-group types; the only instance so far is on tiki-editpage.tpl.
.tiki .form-horizontal .margin-side-0 {
	margin-left: 0;
	margin-right: 0;
}

//@media (min-width: @screen-md-min) {
.tiki .col1 .table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-y: hidden;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	-webkit-overflow-scrolling: touch;
}

.tiki .table-responsive > .table {
	margin-bottom: 0;
	// Ensure the content doesn't wrap
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				white-space: normal;
			}
		}
	}
}

// columns with action icons in shouldn't wrap
.tiki .table-responsive > .table td.action {
  white-space: nowrap;
}

//}

.layout_social,
.layout_social_modules,
.layout_fixed_top_modules {
	a.navbar-brand img {
		display: inline;
	}
	.navbar-inverse a {
		color: @navbar-inverse-link-color;
		&:hover {
			color: @navbar-inverse-link-hover-color;
			text-decoration: none;
		}
	}
	.navbar-inverse .sitetitle a {
		color: @navbar-inverse-brand-color;
		&:hover {
			color: @navbar-inverse-brand-hover-color;
			text-decoration: none;
		}
	}
	h1.sitetitle {
		font-size: 1.8rem;
		margin-top: 10px;
		margin-bottom: 0;
	}
	h1.sitetitle,
	.sitesubtitle {
		display: inline-block
	}

	#topbar_modules {
		display: inline-block;
	}
}

.layout_social_modules,
.layout_fixed_top_modules {
	#topbar_modules {
		display: block;
	}
}

.header_outer.navbar {
	margin-bottom: 0;
}

.navbar-fixed-top,
#navbar-collapse-social {
	.navbar {
		margin-bottom: 0;
		min-height: 32px;
	}
}

// https://github.com/twbs/bootstrap/issues/16120
.img-thumbnail {
	&.media-object {
		max-width: none;
	}
}

// Needed to align checkbox with label, which has a top margin (admin forms with labels on left of input)
.tiki .form-horizontal .form-group label + div > input[type="checkbox"] { margin-top: .8em; }
.tiki .form-horizontal .checkbox input[type="checkbox"] {margin-top: .4em;}


.control-label.text-left {
	text-align: left;
}

.form-horizontal .control-label.text-left {
	text-align: left;
}

.affix-top {position: static; }
.affix { position: fixed; top: 20px; }
.affix-bottom { position: absolute; }

// default width "auto" causes the input to overflow outside of narrow divs.
.col-sm-2 .form-inline .form-control,
.col-md-2 .form-inline .form-control { width: 100%; }